body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
    background: #1A1A1A;
}

.header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 125%;
    height: 100px;
    z-index: -1;
    background-color: rgb(22, 22, 22);
}

.main-title {
    font-size: 2.4em;
    text-align: center;
    color: #C8C8C8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.first-letter {
    font-family: 'Train One', sans-serif;
    font-weight: bold;
    color: #3498db;
}

.second-letter {
    font-family: 'Train One', sans-serif;
    font-weight: bold;
    color: rgb(204, 153, 0);
}

.gradient-title {
    font-weight: bold;
    background: linear-gradient(to bottom, #eeeeee, #b4b4b4);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: block;
    position: relative;
    transform: scale(0.7);
    transform-origin: top;
    width: 130%;
    min-height: 1000px;
    max-width: 2400px;
    padding: 20px;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    background-color: rgb(34, 34, 34);

}

.drag-area {
    display: block;
    position: relative;
    width: 100%;
    padding: 450px;
    margin-top: 10px;
    border: 2.0px dashed rgb(161, 161, 161);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5em;
    color: rgb(44, 151, 250);
    background-color: #161616;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.drag-area:hover {
    border-color: rgb(238, 238, 238);
}

.drag-area .file-info {
    display: block;
    font-size: 1.1em;
    margin-top: 15px;
    font-style: italic;
    color: #a2a6a8;
}

.button {
    display: inline-flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px 25px;
    border: 1px solid rgb(64, 64, 64);
    border-radius: 5px;
    background-color: #161616;
    font-size: 1.2em;
    color: rgb(204, 153, 0);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button i {
    font-size: inherit;
    margin-right: 5px;
    color: #4ca3f5;
    transition: color 0.3s ease;
}

.button:hover {
    color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
}

#saveButton {
    display: none;
}

#restoreButton {
    display: none;
    position: absolute;
    right: 45px;
    top: 85px;
    background: none;
    border: none;
    padding: 0;
    font-size: 0.9em;
    color: #c2c2c2;
    cursor: pointer;
    transition: color 0.3s ease;
}

#restoreButton i {
    font-size: 13px;
    margin-left: 4px;
    color: #c2c2c2;
    transition: color 0.3s ease;
}

#restoreButton:hover {
    color: rgb(238, 238, 238);
}

#restoreButton:hover i {
    color: rgb(238, 238, 238);
}

.tabs {
    display: none;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid #444;
}

.tab {
    display: inline-block;
    font-size: 18px;
    padding: 8px 30px;
    border: 1px solid rgb(64, 64, 64);
    border-radius: 5px;
    background-color: #161616;
    color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab:hover {
    color: rgb(238, 238, 238);
    background-color: #2e2e2e;
    border-color: rgb(238, 238, 238);
}

.tab.active {
    background-color: #161616;
    border-bottom: 3px solid #bbb;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#fileInput {
    display: none;
}

.highlight {
    display: inline-block;
    padding: 0 9px;
    border: 1px solid rgb(64, 64, 64);
    border-radius: 5px;
    color: rgb(204, 153, 0);
}

#sortable-achievements,
#sortable-leaderboards {
    display: block;
    margin-top: 20px;
    padding: 0;
    max-height: 830px;
    overflow-y: auto;
    list-style: none;
}

#sortable-achievements li,
#sortable-leaderboards li {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.2;
    color: #2c97fa;
    cursor: grab;
}

#sortable-achievements li:active,
#sortable-leaderboards li:active {
    cursor: grabbing;
}

#sortable-achievements li:nth-child(odd),
#sortable-leaderboards li:nth-child(odd) {
    background-color: #282828;
}

#sortable-achievements li:nth-child(even),
#sortable-leaderboards li:nth-child(even) {
    background-color: #222222;
}

#sortable-achievements li:hover,
#sortable-leaderboards li:hover {
    background-color: #1b1b1b;
}

.achievement-row {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 20px;
    align-items: start;
    position: relative;
}

.achievement-title {
    font-size: 0.95em;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: #cc9900;
}

.achievement-description {
    font-size: 0.95em;
    line-height: 1.0;
    letter-spacing: 1.0px;
    color: #2c97fa;
}

.list-header {
    display: none;
    grid-template-columns: 500px 1fr;
    gap: 20px;
    padding: 5px;
    margin-top: 5px;
    border-bottom: 2px solid #444;
    position: relative;
    font-size: 0.95em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bbb;
    align-items: center;
}

.list-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 500px;
    width: 1px;
    background-color: #444;
}

.header-title,
.header-description {
    text-align: left;
    color: #bbb;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    z-index: 1000;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    color: rgb(204, 153, 0);
    background-color: #161616;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, bottom 0.3s ease;
}

.toast.show {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    bottom: 20px;
}

.toast.hide {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
    bottom: 20px;
}

.drag-ghost {
    opacity: 0.4;
    border-radius: 5px;
    background-color: #34495e;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #404040;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}